#hacky-alert {
  border: 2px red solid;
  max-width: 30%;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.form-check-input.form-check-input:checked {
  background-color: #bb03e1;
  border-color: white;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  border: 1px solid #dee2e6;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  /* color-adjust: exact; */
  print-color-adjust: exact;
}

.socials li {
  display: inline-block;
  padding: 0 2px;
  list-style: none;
}

.socials li a:hover {
  color: #fff;
}

.socials li a {
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  color: #758698;
}

/* 
	Second Form Page
*/

#form-page-2 {
  width: 50%;
  height: 100vh;
}

#form-page-2 > form > codebox-button--submit {
  font-family: "Roboto" sans-serif;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 6rem;
  font-weight: bolder;
}

.code-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 60px;
  border-radius: 9px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.code-card > h2 {
  margin-bottom: 0;
}

.codebox-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.codebox-input {
  min-height: 50px;
  max-width: 3000px;
  padding: 0 1rem;
  color: #5e4dcd;
  font-size: 17px;
  letter-spacing: 2px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.codebox-button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.codebox-button--submit:hover {
  background-color: #5e5dcd;
}

.codebox-input:focus,
.codebox-input:focus-visible {
  border-color: #3898ec;
  outline: none;
}

/* svg {
  display: none;
  margin: 0 auto;
  transition: all 1s;
} */

.register > svg rect {
  transition: all 1s;
  fill: white;
}

#notif-alert {
  position: fixed;
  right: 0;
  bottom: 0;
}

@media (min-width: 1025px) {
  .cover-user .cover-user-img {
    padding: 0px 10%;
  }
}
